html, body {
    padding-top: 25px;
    background-color: rgb(131, 131, 131);
    font-family: 'Roboto Condensed', sans-serif;
}

#home {
    background-color: rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 30px;
}

#projects {
    background-color:  rgb(255, 255, 255);
}

#thumb {

    padding-top: 30px;
    padding-bottom: 30px;
    background-color:  rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}

#contact {
  background-color:  rgb(255, 255, 255);
  padding-top: 50 px;
  padding-bottom: 50px;
  float: none;
}


#form {
padding-left: 50px;
padding-top: 20px;
float: left;

}
#contact-text {

  float:right;
}

#social {
  color: white;
  background-color: rgb(34, 34, 34);
  padding-top: 50px;
  padding-left: 250px;
  padding-bottom: 50px;
}
#social2 {

}

.col-centered {
  float: none;
  margin: 0 auto;
}

.separator {
  height: 2px;
}
